<form method="post" action="#">
    <div class="form-group">
        <label for="name">Name </label> <input type="text" name="name" id="name" class="form-control"> <br />
        <label for="description"> Description </label><textarea class="form-control" id="description" name="description" rows="3"></textarea><br />
        <label for="keywords"> Keywords</label> <input type="text" name="keywords" id="keywords" class="form-control"><br />
        <label for="poster"> Poster</label> <input type="file" name="poster" id="poster" class="form-control-file"><br />
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>